@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');

* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

/*--------------------HEADER--------------------*/

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1522;
}

.menu {
    display: inline-block;
    width: 70%;
}

.big_menu {
    width: 100%;
    text-align: right;
}

.big_menu a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    transition-duration: 0.3s;
}

.big_menu a:hover {
    color: #b4b4b4;
    transition-duration: 0.3s;
}

.big_menu a p {
    font-size: 20px;
    margin-right: 20px;
}

.burger_menu {
    display: none;
}

.loginBar {
    display: inline-block;
    width: 30%;
}

.loginStateBar {
    display: block;
    margin: auto;
    padding-top: 5px;
}

.loginStateBar button {
    display: flex;
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #000000;
}

.loginImage {
    display: inline-block;
    width: 60px;
}

.loginImage img {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    padding: 10px;
}

.loginUsername {
    display: inline-block;
    width: 120px;
}

.loginUsername h1 {
    display: inline-block;
    font-size: 20px;
}

.hidden_menu_bar {
    display: none;
}

/*---------------------ABOUT_US--------------------*/

.aboutus {
    display: block;
    background-image: url("./img/pizza_background_1.png");
    margin-top: 50px;
    padding-top: 50px;
    width: 100%;
}

#title_aboutus,
#slogan_aboutus {
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    color: #ff0000;
    margin-bottom: 80px;
}

.main_aboutus {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.image_aboutus {
    width: 300px;
    margin: auto;
}

.image_aboutus img {
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
}

.text_aboutus {
    display: block;
    width: 500px;
    text-align: left;
    margin: auto;
}

.text_aboutus p {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 40px;
    background-color: #92929283;
    padding: 10px;
}

#slogan_aboutus {
    display: block;
    width: 70%;
    margin: 40px auto 0;
    padding-bottom: 80px;
}

/*--------------------NEW_PRODUCT_FORM---------------------*/

.products_form {
    display: block;
    width: 100%;
    background-image: url("./img/form_wallpaper.jpg");
    padding-top: 50px;
    padding-bottom: 200px;
}

.products_form h1 {
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    color: #ff0000;
    margin-bottom: 80px;
}

.product_form_image {
    display: inline-block;
    width: 50%;
    margin-right: 20px;
}

.imageInput,
#input_image div {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #5c5c5c;
    text-align: center;
    cursor: pointer;
}

.imageInput p {
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 50%;
    color: #ffffff;
    font-size: 20px;
}

#input_image div div img {
    width: 500px;
    height: 500px;
}

.button_insertImage,
.button_removeImage {
    width: 100%;
    text-align: center;
}

.button_removeImage p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    margin-top: 30px;
}

#addButton,
#removeButton {
    display: block;
    margin: auto;;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 20px;
    font-weight: 900;
}

#addButton {
    background-color: #00d300;
    color: #000000;
    margin-top: 30px;
}

#removeButton {
    background-color: #ff0000;
    color: #ffffff;
    margin-top: 10px;
}

.product_form {
    display: inline-block;
    width: 420px;
    position: absolute;
    margin-top: 25px;
    background-color: #5c5c5c;
    padding: 10px;
}

.product_form div {
    display: block;
    margin-bottom: 15px;
}

.product_form div label {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.product_form div input {
    float: right;
    clear: both;
}

.product_form div button {
    display: block;
    float: right;
}

#listIngredients {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.ingredient p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 10px;
}

#submitButton {
    display: block;
    margin: auto;
    color: #000000;
    font-weight: 500;
    background-color: #00d300;
    padding: 10px 50px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

/*---------------------PRODUCTS--------------------*/

.productsList_container {
    display: block;
    background-image: url("./img/pizza_background_2.jpg");
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.productsList_container h1 {
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    color: #ff0000;
    margin-bottom: 80px;
}

/*----------SINGLE_PRODUCT----------*/

.singleProduct {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
    background-color: #000000;
}

.singleProduct_image {
    display: block;
    width: 50%;
}

.singleProduct_image img {
    display: block;
    width: 400px;
    height: 400px;
    padding: 10px;
}

.singleProduct_info {
    display: block;
    width: 50%;
    position: relative !important;
    top: 120 !important;
    text-align: left;
}

.singleProduct_info h1 {
    text-align: left;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}

.singleProduct_infoTitle {
    margin-bottom: 30px !important;
}

.ingredientsList,
.singleProduct_nameValue {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
}

/*---------------------SHOP--------------------*/

.shop_container {
    display: block;
    background-image: url("./img/receipt_wallpaper.jpg");
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.shop_container h1 {
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    color: #ff0000;
}

/*-----------SHOP_TABLE----------*/

.listProductsShop {
    display: block;
    width: 90%;
    margin: auto;
    background-color: #2e2e2ed0;
}

.listProductsShop table {
    border: 2px solid #000000;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.listProductsShop table tr th {
    border: 2px solid #000000;
}

.listProductsShop table tr th h1 {
    color: #ffffff;
    font-size: 20px;
}

.firstLine th h1 {
    font-size: 25px !important;
}

.productLine img {
    width: 200px;
    height: 200px;
}

/*----------TOTAL_PRICE----------*/

#totalPrice {
    font-size: 35px;
    color: #ffffff;
}

#payButton {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    background-color: #00d300;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px 40px;
    margin: auto;
    margin-bottom: 80px;
    transition-duration: 0.3s;
}

#payButton:hover {
    background-color: #c8ff00;
    transition-duration: 0.3s;
}

/*---------------------CONTACTS--------------------*/

.contacts_container {
    display: block;
    background-image: url("./img/pizza_background_3.jpg");
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.contacts_container h1 {
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    color: #ff0000;
}

.singleContacts {
    display: block;
    width: 100%;
}

.singleContacts a {
    text-decoration: none;
}

.singleContacts a h2 {
    font-size: 30px;
    font-weight: 500;
    width: 250px;
    text-align: center;
    margin: 0 auto 30px;
    color: #ffffff;
    padding: 20px 50px;
    border: 1px solid #000000;
    border-radius: 8px;
    transition-duration: 0.3s;
}

.singleContacts a h2:hover {
    padding: 22.5px 52.5px;
    width: 280px;
    font-size: 35px;
    transition-duration: 0.3s;
}

#facebook h2 {
    background-color: #4267B2;
}

#instagram h2 {
    background-color: #8a3ab9;
}

#mail h2 {
     background-color: #5c5c5c;
}

/*---------------------FOOTER--------------------*/

.footer {
    display: block;
    width: 100%;
    background-color: #000000;
    text-align: center;
}

.footer h1 {
    color: #ffffff;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}

@media only screen and (max-width: 1050px) {

    /*--------------------NEW_PRODUCT_FORM---------------------*/

    .product_form_image {
        margin-left: 10px;
        margin-right: 10px;
    }

    .product_form {
        width: 400px;
    }

    /*--------------------PRODUCTS--------------------*/

    /*----------SINGLE_PRODUCT----------*/

    .singleProduct_image img {
        width: 300px;
        height: 300px;
    }

    .singleProduct_info h1 {
        font-size: 25px;
    }
    
    .ingredientsList,
    .singleProduct_nameValue {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1000px) {

    /*--------------------HEADER--------------------*/

    .menu {
        width: 55%;
    }

    .big_menu {
        display: none;
    }

    .burger_menu {
        display: block;
        height: 100%;
        width: 100%;
    }

    .burger_menu button {
        display: block;
        margin-top: 12px;
        margin-left: 9px;
        background-color: transparent;
        border: none;
        transition-duration: 0.5s;
    }

    .burger_menu button div {
        display: block;
        background-color: #ffffff;
        padding: 2px 15px;
        margin-bottom: 5px;
        transition-duration: 0.5s;
    }

    .burgerOpen {
        transform: rotate(180deg);
        transition-duration: 0.5s;
    }

    .burgerOpen div:first-child {
        position: absolute;
        transform: rotate(-60deg);
        margin-top: 6px;
        margin-left: -5px;
        padding: 2px 13px;
        transition-duration: 0.5s;
    }

    .burgerOpen div:nth-child(2) {
        position: absolute;
        transform: rotate(58deg);
        margin-top: 6px;
        margin-left: 8px;
        padding: 2px 13px;
        transition-duration: 0.5s
    }

    .burgerOpen div:last-child {
        margin-top: 18px;
        transition-duration: 0.5s;
    }

    .loginBar {
        width: 45%;
    }

    .loginStateBar {
        padding-bottom: 5px;
    }
    
    .loginStateBar button {
        padding: 0;
        border-radius: 5px;
        margin-right: 10px;
    }
    
    .loginImage {
        width: 60px;
    }
    
    .loginImage img {
        width: 15px;
        height: 15px;
        padding: 10px;
    }
    
    .loginUsername {
        width: 80px;
    }
    
    .loginUsername h1 {
        font-size: 15px;
    }

    .hidden_menu_bar {
        display: block;
        position: absolute;
        background-color: #000000;
        width: 85%;
        z-index: 15;
        left: -1000px;
    }

    #hidden_menu_closed {
        left: -1000px;
        transition-duration: 0.5s;
    }

    #hidden_menu_open {
        left: 20px;
        transition-duration: 0.5s;
    }

    .hidden_menu {
        display: inline-block;
        background-color: #444444;
        width: 90%;
    }

    .hidden_menu a {
        text-decoration: none;
        color: #ffffff;
    }

    .hidden_menu a p {
        font-size: 25px;
        padding: 5px 20px;
        border-bottom: 1px solid #000000;
        margin: 5px 0;
    }

    .hidden_button {
        display: inline-block;
        height: 100%;
        width: 10%;
        position: absolute;
    }

    .hidden_button button {
        display: block;
        height: 100%;
        width: 100%;
        background-color: #000000;
        border: none;
    }

    #arrow_icon {
        font-size: 25px;
        margin: auto;
        margin-top: 2px;
        color: #ffffff;
    }

    /*---------------------ABOUT_US--------------------*/

    .text_aboutus {
        width: 90%;
    }

    .text_aboutus p {
        font-size: 25px;
    }

    /*--------------------NEW_PRODUCT_FORM---------------------*/

    .products_form {
        padding-bottom: 100px;
    }

    .product_form_image {
        display: block;
        margin: auto;
        margin-bottom: 50px;
        width: 90%;
    }

    .product_form {
        display: block;
        width: 420px;
        margin: auto;
        position: relative;
    }

    /*--------------------PRODUCTS--------------------*/

    /*----------SINGLE_PRODUCT----------*/

    .singleProduct {
        width: 90%;
    }

    /*-----------SHOP_TABLE----------*/

    .listProductsShop {
        display: block;
        width: 98%;
        margin: auto;
        background-color: #2e2e2ed0;
    }

    .firstLine th h1 {
        font-size: 15px !important;
    }

    .productLine img {
        width: 200px;
        height: 200px;
    }

    .productLine th h1 {
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 760px) {

    /*---------------------ABOUT_US--------------------*/

    #slogan_aboutus {
        font-size: 35px;
        width: 90%;
    }

    /*--------------------NEW_PRODUCT_FORM---------------------*/

    .imageInput {
        width: 400px;
        height: 400px;
    }

    /*--------------------PRODUCTS--------------------*/

    /*----------SINGLE_PRODUCT----------*/

    .singleProduct {
        width: 98%;
    }

    .singleProduct_image img {
        width: 220px;
        height: 220px;
    }

    .singleProduct_info h1 {
        font-size: 18px;
    }
    
    .ingredientsList,
    .singleProduct_nameValue {
        font-size: 12px;
    }

    /*-----------SHOP_TABLE----------*/

    .firstLine th h1 {
        font-size: 12px !important;
    }

    .productLine img {
        width: 150px;
        height: 150px;
    }

    .productLine th h1 {
        font-size: 12px !important;
    }

    .productLine th input {
        width: 50px;
    }
}

@media only screen and (max-width: 480px) {

    /*--------------------HEADER--------------------*/

    .hidden_menu {
        width: 85%;
    }

    .hidden_button {
        width: 15%;
    }

    /*---------------------ABOUT_US--------------------*/

    .image_aboutus {
        width: 200px;
    }

    .image_aboutus img {
        width: 200px;
        height: 200px;
        margin-bottom: 40px;
    }

    .text_aboutus {
        width: 95%;
    }

    .text_aboutus p {
        font-size: 20px;
    }

    /*--------------------NEW_PRODUCT_FORM---------------------*/

    .imageInput {
        width: 250px;
        height: 250px;
    }

    .imageInput p {
        font-size: 15px;
    }

    .product_form {
        width: 320px;
    }
    
    .product_form div label {
        font-size: 14px;
    }

    .product_form div input {
        width: 150px;
    }

    #listIngredients {
        font-size: 14px;
    }
    
    .ingredient p {
        font-size: 13px;
    }

    /*--------------------PRODUCTS--------------------*/

    /*----------SINGLE_PRODUCT----------*/

    .singleProduct_image img {
        width: 150px;
        height: 150px;
    }

    .singleProduct_info h1 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .ingredientsList,
    .singleProduct_nameValue {
        font-size: 10px;
    }
    
    .singleProduct_infoTitle {
        margin-bottom: 15px !important;
    }
    
    /*-----------SHOP_TABLE----------*/

    .firstLine th h1 {
        font-size: 9px !important;
    }

    .productLine img {
        width: 120px;
        height: 120px;
    }

    .productLine th h1 {
        font-size: 9px !important;
    }

    .productLine th input {
        width: 30px;
    }

    /*---------------------CONTACTS--------------------*/

    .singleContacts a h2 {
        font-size: 20px;
        padding: 15px 30px;
        width: 180px;
        transition-duration: 0.3s;
    }
}

@media only screen and (max-width: 360px) {

    /*--------------------HEADER--------------------*/

    .menu {
        width: 40%;
    }

    .loginBar {
        width: 60%;
    }

    .hidden_menu {
        width: 80%;
    }

    .hidden_button {
        width: 20%;
    }

    /*---------------------ABOUT_US--------------------*/

    .text_aboutus p {
        margin-bottom: 0px;
    }

    #slogan_aboutus {
        font-size: 30px;
        width: 80%;
    }
}